body {
    background-color: black;
    color: darkslateblue;
    text-align: center;
}

header {
    
}

section {
    width: 80%;
    margin: 10px auto;
}

.item {
    width: 30%;
    margin: 10px auto;
    border: 2px solid white;
    background-color: black;
}

input {
    display: block;
    margin: 5px auto;
}

.hidden {
    display: none;
}
